[Unit]
Description=Start pyconnector
Wants=network-online.target
After=network-online.target

[Service]
Type=forking
ExecStart=/etc/rc.d/init.d/pyconnector start
ExecStop=/etc/rc.d/init.d/pyconnector stop

[Install]
WantedBy=multi-user.target